.new-question{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  grid-area: mn;
}
.new-question h1 {
  width: 100%;
}
.new-question-form{
  border: 1px solid black;
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question-area{
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.question-area textarea{
  margin: 20px;
  width: 350px;
  font-size: large;
}
