.question-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}
.question-author{
  font-size: larger;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: display;
}
