.view-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  grid-area: mn;
}
.answer-select {
  display: flex;
  align-items: center;
}
.stats {
  display: flex;
}
.stats div {
  margin-right: 15px;
}
.answer {
  color: green;
  font-weight: bold;
  font-size: larger;
  margin-top: 20px;
}
.select-option{
  color: red;
}